body {
    font-family: 'Prosto One', cursive;
    position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Gaegu');



.background {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 0vh solid #6534ff;
    border-left: 100vw solid transparent;
    align-self: flex-end;
    z-index: -1;
    animation: chomp1 3s 1 forwards 1s;
}

.background-left {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0vh solid #bbc4ef;
    border-right: 100vw solid transparent;
    z-index: -2;
    align-self: flex-start;
    animation: chomp2 3s 1 forwards 1s;
}

@media (min-width: 992px){
    @keyframes  chomp1 {
        from {border-bottom: 0vh solid #6534ff;}
        to {border-bottom: 90vh solid #6534ff;}
    }

    @keyframes  chomp2 {
        from {border-top: 0vh solid #bbc4ef;}
        to {border-top: 100vh solid #bbc4ef;}
    }
}

.background-about {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100vh solid #6534ff;
    border-left: 100vw solid transparent;
    align-self: flex-end;
    z-index: -1;
}

.background-about-left {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 110vh solid #bbc4ef;
    border-right: 100vw solid transparent;
    z-index: -2;
    align-self: flex-start;
}

.navigation {
    display: flex;
    position: fixed;
    width: 100vw;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
    z-index: 101;
    /* visibility: hidden; */
    top: -53px;
    transition: top 0.5s;
}

.navigation a {
    color: #6534ff;
}

.navigation .active {
    text-decoration: underline;
}

.navigation .navigation-item {
    width: 33vw;
}

.navigation .navigation-title {
    text-align: center;
    font-size: 2em;
    color: #6534ff;
}

.navigation .social-icon {
    padding: 0 10px;
    font-size: 2em;
    color: #6534ff;
}

.navigation .nav-link {
    font-size: 1.5em;
}

.mobile-nav {
    display: none;
}


.bg-mask {
    position: absolute;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    z-index: -1;
}

/* Home Section */

.home {
    height: 100vh;
    /* display: none !important;  */
}

.home .h-block {
    width: 31vw;
}

.home .h-person img {
    border-radius: 2200px;
    height: 40vh;
}

.home .name, .home .job {
    text-align: center;
    margin: 1vh 0;
    font-size: 3em;
    /* font-weight: bold; */
    color: #fff;
}

.home .job {
    color: #fff;
    opacity: 0.8;
}

.home .h-social .social-icon {
    font-size: 3.5em;
    padding: 0 1vw;
    color: #fff;
}

.home .h-nav .nav-item {
    font-size: 2em;
    padding: 0 1vw;
    /* text-decoration: underline; */
    color: #fff;
    opacity: 0.8;
}

.home .h-nav .nav-item:nth-child(even) {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.home a{
    color: #fff;
}

.home .h-down {
    align-self: flex-end;
    position: absolute;
    font-size: 3em;
    color: #fff;
    opacity: 0.8;
}

/* End Home Section */

/* About Us Section */

.about {
    height: 100vh;
    /* display: none !important; */
}

.about .a-container {
    width: 50vw;
    border: 1px solid lightgray;
    padding: 2vw;
    background-color: #fff;
}

/* End About Us Section */

/* Portfolio Section */

.portfolio {
    height: 100vh;
    /* color: #fff; */
    /* display: none !important; */
    background-color: #fff;
}

.portfolio .p-catagories {
    margin: 10px 0;
}

.portfolio .p-catagories .cat{
    font-size: 1.5em;
    padding: 5px 10px;
    text-decoration: underline;
}

.portfolio .p-catagories .cat:nth-child(even) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.portfolio .p-catagories .active {
    text-decoration: none;
}


.portfolio .catagory {
    width: 75vw;
}

.portfolio .portfolio-item {
    display: flex;
    padding: 1.5vh;
    align-items: flex-end;
}

.portfolio .portfolio-item:nth-child(even) {
    justify-content: flex-end;
}

.portfolio .portfolio-item .title {
    position: absolute;
    align-self: flex-end;
    padding: 5px;
    font-size: 1em;
    z-index: 100;
    color: #fff;
}


.portfolio .portfolio-item:nth-child(odd) .splitter {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 140px solid #6534ff;
    /* border-bottom: 230px solid #e62739; */
    border-right: 200px solid transparent;
    /* border-right: 362px solid transparent; */
    transition: border-bottom 0.3s;
}

.portfolio .portfolio-item:nth-child(even) .splitter {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 140px solid #6534ff;
    /* border-bottom: 230px solid #e62739; */
    border-left: 200px solid transparent;
    /* border-left: 362px solid transparent; */
    transition: border-bottom 0.3s;
}

.portfolio .portfolio-item img {
    height: 230px;
    width: 362px;
}

/* End Portfolio Page */

/* Contact Page */

.contact {
    height: 100vh;
}

.contact .c-email {
    width: 40vw;
    border-right: 1px solid #000;
}

.contact .c-email button {
    width: 10vw;
    margin: 30px 0;
    background-color: #6534ff;
    border-color: #6534ff;
}

.contact .c-email textarea {
    width: 100%;
}

.contact .c-other{
    width: 40vw;
}

.contact .c-other .social-item {
    margin: 3vh;
}

.contact .c-other i {
    font-size: 3em;
    padding: 1vh;
}

.contact .c-other .social-link {
    font-size: 1.5em;
}

.group 			  { 
    position:relative; 
    margin-bottom:45px; 
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:400px;
    border:none;
    border-bottom:1px solid #000;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#000; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#6534ff;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:400px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#6534ff; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:400px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#6534ff; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#6534ff; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#6534ff; }
    to 	{ width:0; background:transparent; }
  }

  /* Responsive Media Queries */

  @media (max-width: 1449.98px) { /* Large screen laptops with low resolution */
      .home .h-social .social-icon {
          font-size: 2.5em;
      }

      .home .h-nav .nav-item {
          font-size: 1.25em;
      }

      .home .job {
          font-size: 2.5em;
      }

      .portfolio {
          height: auto;
      }

      .navigation .nav-link {
        font-size: 1em;
    }

    .contact .c-other .social-link {
        font-size: 1.25em;
    } 

    .contact {
        flex-direction: column !important;
        height: auto;
    }

    .contact .c-email, .contact .c-other {
        width: auto;
        border-right: none;
    }
      
   }

  @media (max-width: 991.98px) { /* Tablet/Landscape Phones/Portrait Phones */

    .home {
        flex-direction: column !important;
    }

    .background {
        border-bottom: 100vh solid #6534ff;
    }
    
    .background-left {
        border-top: 100vh solid #bbc4ef;
    }

    .navigation .social-icon, .navigation .nav-link {
    display: none;
    }

    .navigation .navigation-item {
        width: auto;
    }

    .mobile-nav {
        display: flex;
        /* visibility: hidden; */
        position: fixed;
        width: 100vw;
        bottom: -50px;
        z-index: 101;
        background-color: #fff;
        border-top: 1px solid lightgray;
        font-size: 1.2em;
        transition: bottom 0.5s;
    }

    .mobile-nav a {
        color: #6534ff;
    }

    .mobile-nav .nav-link {
        padding: .5rem 0.5rem
    }

    .mobile-nav .active {
        text-decoration: underline;
    }

    .home .h-block {
        width: auto;
    }

    .home .name, .home .job { 
        font-size: 2.5em;
    }

    .home .h-nav .nav-item {
        font-size: 1.5em;
    }

    .home .h-down {
        position: relative;
        align-self: center;
        font-size: 2em;
    }

    .about .a-container {
        width: auto;
    }

    .about h1 {
        text-align: center;
    }

    .portfolio {
        height: auto;
    }

    .portfolio .p-catagories .cat {
        font-size: 1em;
    }

    .contact .c-other {
        padding-bottom: 30px;
    }

    .contact .c-other .social-link {
        font-size: 1em;
    }

    .contact .c-email button {
        width: 40vw;
    }

   }

@media (max-height: 399px) { /* Landscape Phones or short height screens*/
    .home .h-down {
        display: none;
    }
}



