body {

}

.navbar {
    display: none;
}

.mobile-nav {
    display: none;
}

/* Home Section */

.home {
    height: 100vh;
    /* display: none !important;  */
}

.home .profile-image {
    margin: 0 3.5vw;
}

.home .h-person img {
    border-radius: 200px;
    height: 30vh;
}

.home .name, .home .job {
    text-align: center;
    margin: 1vh 0;
    font-size: 3em
}

.home .h-social .social-icon {
    font-size: 2em;
    padding: 0 1vw;
}

.home .h-nav .nav-item {
    font-size: 1.5em;
    padding: 0 1vw;
}

.home .h-down {
    align-self: flex-end;
    position: absolute;
    font-size: 2em;
}

/* End Home Section */

/* About Us Section */

.about {
    height: 100vh;
    /* display: none !important; */
}

.about .a-container {
    width: 50vw;
    border: 1px solid lightgray;
    padding: 2vw;
}

/* End About Us Section */

/* Portfolio Section */

.portfolio {
    height: 100vh;
    /* display: none !important; */
}

.portfolio .p-catagories {
    margin: 10px 0;
}

.portfolio .p-catagories .cat{
    font-size: 1.5em;
    padding: 5px 10px;
    text-decoration: underline;
}

.portfolio .p-catagories .cat:nth-child(even) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}


.portfolio .catagory {
    width: 70vw;
}

.portfolio .portfolio-item {
    display: flex;
    padding: 1vh;
}

.portfolio .portfolio-item:nth-child(even) {
    justify-content: flex-end;
}

.portfolio .portfolio-item .title {
    position: absolute;
    align-self: flex-end;
    padding: 5px;
    font-size: 1.5em;
    z-index: 100;
}


.portfolio .portfolio-item:nth-child(odd) .splitter {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 230px solid #fff;
    border-right: 362px solid transparent;
}

.portfolio .portfolio-item:nth-child(even) .splitter {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 230px solid #fff;
    border-left: 362px solid transparent;
}

.portfolio .portfolio-item img {
    height: 230px;
}

/* End Portfolio Page */

/* Contact Page */

.contact {
    height: 100vh;
}

.contact .c-email {
    width: 33vw;
    border-right: 1px solid #000;
}

.contact .c-email button {
    width: 10vw;
    margin: 30px 0;
}

.contact .c-email textarea {
    width: 100%;
}

.contact .c-other{
    width: 33vw;
}

.contact .c-other .social-item {
    margin: 3vh;
}

.contact .c-other i {
    font-size: 3em;
    padding: 1vh;
}

.contact .c-other .social-link {
    font-size: 2em;
}

.group 			  { 
    position:relative; 
    margin-bottom:45px; 
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:400px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }



